/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 28, 2023, 5:54:38 PM
    Author     : Binaramalee jayakody
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
}

.dropdown {
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ddd;
            min-width: 160px;
            box-shadow: 0px
 
8px
 
16px
 
0px
 
rgba(0,0,0,0.2);
        }
        
        .dropdown-content
 
a {
            color: black;
            padding: 12px
 
16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content
 
a:hover {background-color:
 
#ddd}
        .dropdown:hover
 
.dropdown-content {display: block;}



        .main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 5px;
      padding: 20px;
      
    }

    .main .product-box{
      background-color: #fff;
     
      padding: 10px;
      text-align: center;
      height: 300px;
      
    }

    .main .product-box img {
      margin: 0 auto;
    }

    
    .main .product p {
      margin: 5px 0;
      font-size: 14px;
    }

 
    .row{
        width: 50%;
        alignment-adjust: central;
        padding: 20px;
    }
    .col-lg-6.card col-md-4 col-lg-8{
        align-content: space-around;
    }

    .card-img-top{
        width: 300px;
        height: 215px;
    }
a, a:hover{
    text-decoration: none;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: green;
}

.top-bar span{
    color: #ffffff;
}


.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #ffffff;
}

.top-bar a:hover{
    color: #222;
}

nav{
    background: #222;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #ffffff;
}

nav a:hover{
    color: #ef4b3f;
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color: #ffffff;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

.box{
     width: 700px;
  height: 700px;
  border: 3px solid black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  background-color: #f2f2f2;
}

.box-1{
    width: 900px;
  height: 400px;
  border: 3px solid black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    
    .menu{
        margin-top: 15px;
        display: none;
    }
    
    .menu.active, .toggle{
        display: block;
    }
    
    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}

.contact-bg{
  height: 40vh;
  background: linear-gradient(rgba(241, 247, 241, 0.889), rgba(134, 236, 171, 0.8)), url("images/download.jpeg");
   background: linear-gradient(rgba(241, 247, 241, 0.889), rgba(134, 236, 171, 0.8)), url("images/download.jpeg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #f7327a;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}





@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        margin-left: 80px;
        margin-right: 80px;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.theme-text {
  color: #00FF00;
}

.card-img-top {
  height: 200px;
  width: 100%;
}
.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover {
  color: white;
}
.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: #4CAF50;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.card:hover::before {
  left: 0%;
  color: white;
}
.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
}
.footer{
background:#222;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:white;
font-size:16px;
}

.footer .row a{
text-decoration:none;
color:white;
transition:0.5s;
}

.footer .row a:hover{
color:grey;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
