/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 28, 2023, 1:39:16 PM
    Author     : Binaramalee jayakody
*/

.box{
     width: 400px;
  height: 400px;
  border: 3px solid black;
  padding: 10px;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  background-color: #f2f2f2;
}

button{
    background-color: #4CAF50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
}

button:hover{
    background-color: #388E3C;
}